body {
  font-family: 'Roboto', sans-serif;
}

nav {
  padding: 5px 15px;
  margin: 0px;
  background: #eee;
}

#top_wrapper {
  margin: 0 15px;
}

footer {
  padding: 15px;
  margin: 10px 0 30px 0;
}

footer p {
  font-size: 85%;
}

hr {
  background-color: gray;
  border: medium none;
  height: 1px;
  margin: 1em 0;
}

.pager {
  display: table;
  margin: 10px auto;
  border-collapse: collapse;
  padding: 0;
  border-spacing: 0;
  border: none;
}

.pager li {
  display: table-cell;
  padding: 10px;
}

.mainpage h1, .itempage h2 {
  font-size: 24px;
  line-height: 1em;
  background: #9cb2ce;
  padding: 5px;
  margin: 0 -15px;
}

.mainpage h1 a, .itempage h2 a {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}

.mainpage h1 img, .itempage h2 img {
  margin-right: 10px;
}

.lead {
  line-height: 1.6em;
}